<a href="https://colab.research.google.com/github/JaiVR/Spotify_songs_Analysis/blob/main/ML_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import pyspark.sql.types as T

spark = SparkSession.builder.appName("Spotify_popularity").getOrCreate()

print(f"Spark Version: {spark.version}")

Spark Version: 3.5.3

In [5]:
df = spark.read.csv("loan_data.csv", header=True, inferSchema=True)
df.show()

+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------------+-------------+-------------------+--------------------------+------------------------------+------------+
|person_age|person_gender|person_education|person_income|person_emp_exp|person_home_ownership|loan_amnt|      loan_intent|loan_int_rate|loan_percent_income|cb_person_cred_hist_length|previous_loan_defaults_on_file|credit_score|
+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------------+-------------+-------------------+--------------------------+------------------------------+------------+
|        22|       female|          Master|        71948|             0|                 RENT|    35000|         PERSONAL|        16.02|               0.49|                         3|                            No|         561|
|        21|       female|     High School|        12282|             0|                  OWN|     1000|        EDUCATION|        11.14|               0.08|                         2|                           Yes|         504|
|        25|       female|     High School|        12438|             3|             MORTGAGE|     5500|          MEDICAL|        12.87|               0.44|                         3|                            No|         635|
|        23|       female|        Bachelor|        79753|             0|                 RENT|    35000|          MEDICAL|        15.23|               0.44|                         2|                            No|         675|
|        24|         male|          Master|        66135|             1|                 RENT|    35000|          MEDICAL|        14.27|               0.53|                         4|                            No|         586|
|        21|       female|     High School|        12951|             0|                  OWN|     2500|          VENTURE|         7.14|               0.19|                         2|                            No|         532|
|        26|       female|        Bachelor|        93471|             1|                 RENT|    35000|        EDUCATION|        12.42|               0.37|                         3|                            No|         701|
|        24|       female|     High School|        95550|             5|                 RENT|    35000|          MEDICAL|        11.11|               0.37|                         4|                            No|         585|
|        24|       female|       Associate|       100684|             3|                 RENT|    35000|         PERSONAL|          8.9|               0.35|                         2|                            No|         544|
|        21|       female|     High School|        12739|             0|                  OWN|     1600|          VENTURE|        14.74|               0.13|                         3|                            No|         640|
|        22|       female|     High School|       102985|             0|                 RENT|    35000|          VENTURE|        10.37|               0.34|                         4|                            No|         621|
|        21|       female|       Associate|        13113|             0|                  OWN|     4500|  HOMEIMPROVEMENT|         8.63|               0.34|                         2|                            No|         651|
|        23|         male|        Bachelor|       114860|             3|                 RENT|    35000|          VENTURE|          7.9|                0.3|                         2|                            No|         573|
|        26|         male|          Master|       130713|             0|                 RENT|    35000|        EDUCATION|        18.39|               0.27|                         4|                            No|         708|
|        23|       female|       Associate|       138998|             0|                 RENT|    35000|        EDUCATION|          7.9|               0.25|                         4|                            No|         583|
|        23|       female|          Master|       600891|             5|             MORTGAGE|    30000|DEBTCONSOLIDATION|        10.65|               0.05|                         3|                           Yes|         670|
|        23|         male|        Bachelor|       144943|             0|                 RENT|    35000|        EDUCATION|          7.9|               0.24|                         4|                            No|         663|
|        23|       female|     High School|       111369|             0|                 RENT|    35000|          MEDICAL|         20.0|               0.31|                         4|                            No|         694|
|        23|         male|        Bachelor|       136628|             0|                 RENT|    35000|DEBTCONSOLIDATION|        18.25|               0.26|                         4|                            No|         709|
|        24|       female|          Master|        14283|             1|             MORTGAGE|     1750|        EDUCATION|        10.99|               0.12|                         2|                            No|         679|
+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------------+-------------+-------------------+--------------------------+------------------------------+------------+
only showing top 20 rows

#Preprocessing

In [6]:
df.printSchema()

root
 |-- person_age: integer (nullable = true)
 |-- person_gender: string (nullable = true)
 |-- person_education: string (nullable = true)
 |-- person_income: integer (nullable = true)
 |-- person_emp_exp: integer (nullable = true)
 |-- person_home_ownership: string (nullable = true)
 |-- loan_amnt: integer (nullable = true)
 |-- loan_intent: string (nullable = true)
 |-- loan_int_rate: double (nullable = true)
 |-- loan_percent_income: double (nullable = true)
 |-- cb_person_cred_hist_length: integer (nullable = true)
 |-- previous_loan_defaults_on_file: string (nullable = true)
 |-- credit_score: integer (nullable = true)

In [7]:
numeric_columns = ['person_age',
 'person_income',
 'person_emp_exp',
 'loan_amnt',
 'loan_int_rate',
 'loan_percent_income',
 'cb_person_cred_hist_length','credit_score']

from pyspark.sql.functions import col

for col_name in numeric_columns:
    df = df.withColumn(col_name, col(col_name).cast("double"))

In [8]:
df.printSchema()

root
 |-- person_age: double (nullable = true)
 |-- person_gender: string (nullable = true)
 |-- person_education: string (nullable = true)
 |-- person_income: double (nullable = true)
 |-- person_emp_exp: double (nullable = true)
 |-- person_home_ownership: string (nullable = true)
 |-- loan_amnt: double (nullable = true)
 |-- loan_intent: string (nullable = true)
 |-- loan_int_rate: double (nullable = true)
 |-- loan_percent_income: double (nullable = true)
 |-- cb_person_cred_hist_length: double (nullable = true)
 |-- previous_loan_defaults_on_file: string (nullable = true)
 |-- credit_score: double (nullable = true)

In [9]:
#checking missing values
from pyspark.sql.functions import col, sum
for column in df.columns:
  missing_count = df.filter(col(column).isNull()).count()
  print(f"'{column}' '=' {missing_count}")

'person_age' '=' 0
'person_gender' '=' 0
'person_education' '=' 0
'person_income' '=' 0
'person_emp_exp' '=' 0
'person_home_ownership' '=' 0
'loan_amnt' '=' 0
'loan_intent' '=' 0
'loan_int_rate' '=' 0
'loan_percent_income' '=' 0
'cb_person_cred_hist_length' '=' 0
'previous_loan_defaults_on_file' '=' 0
'credit_score' '=' 0

In [10]:
train, test = df.randomSplit([0.7, 0.3])

In [11]:
numerical_features_lst = train.columns
numerical_features_lst.remove('person_gender')
numerical_features_lst.remove('person_education')
numerical_features_lst.remove('person_home_ownership')
numerical_features_lst.remove('loan_intent')
numerical_features_lst.remove('previous_loan_defaults_on_file')
numerical_features_lst.remove('credit_score')

numerical_features_lst

['person_age',
 'person_income',
 'person_emp_exp',
 'loan_amnt',
 'loan_int_rate',
 'loan_percent_income',
 'cb_person_cred_hist_length']

In [12]:
from pyspark.ml.feature import VectorAssembler

numerical_vector_assembler = VectorAssembler(inputCols=numerical_features_lst,outputCol='numerical_feature_vector')

train = numerical_vector_assembler.transform(train)
test = numerical_vector_assembler.transform(test)

train.show(2)

+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------------+-------------+-------------------+--------------------------+------------------------------+------------+------------------------+
|person_age|person_gender|person_education|person_income|person_emp_exp|person_home_ownership|loan_amnt|      loan_intent|loan_int_rate|loan_percent_income|cb_person_cred_hist_length|previous_loan_defaults_on_file|credit_score|numerical_feature_vector|
+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------------+-------------+-------------------+--------------------------+------------------------------+------------+------------------------+
|      20.0|       female|       Associate|      42674.0|           0.0|                 RENT|   7000.0|          MEDICAL|        13.61|               0.16|                       2.0|                           Yes|       636.0|    [20.0,42674.0,0.0...|
|      20.0|       female|       Associate|     104214.0|           0.0|             MORTGAGE|  12000.0|DEBTCONSOLIDATION|         8.49|               0.12|                       2.0|                           Yes|       641.0|    [20.0,104214.0,0....|
+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------------+-------------+-------------------+--------------------------+------------------------------+------------+------------------------+
only showing top 2 rows

In [13]:
from pyspark.ml.feature import StandardScaler

scaler = StandardScaler(inputCol='numerical_feature_vector',
                        outputCol='scaled_numerical_feature_vector',
                        withStd=True, withMean=True)

scaler = scaler.fit(train)

train = scaler.transform(train)
test = scaler.transform(test)

train.show(3)

+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------------+-------------+-------------------+--------------------------+------------------------------+------------+------------------------+-------------------------------+
|person_age|person_gender|person_education|person_income|person_emp_exp|person_home_ownership|loan_amnt|      loan_intent|loan_int_rate|loan_percent_income|cb_person_cred_hist_length|previous_loan_defaults_on_file|credit_score|numerical_feature_vector|scaled_numerical_feature_vector|
+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------------+-------------+-------------------+--------------------------+------------------------------+------------+------------------------+-------------------------------+
|      20.0|       female|       Associate|      42674.0|           0.0|                 RENT|   7000.0|          MEDICAL|        13.61|               0.16|                       2.0|                           Yes|       636.0|    [20.0,42674.0,0.0...|           [-1.2930290659681...|
|      20.0|       female|       Associate|     104214.0|           0.0|             MORTGAGE|  12000.0|DEBTCONSOLIDATION|         8.49|               0.12|                       2.0|                           Yes|       641.0|    [20.0,104214.0,0....|           [-1.2930290659681...|
|      20.0|       female|     High School|      51391.0|           0.0|                 RENT|   6500.0|          VENTURE|        11.71|               0.13|                       2.0|                            No|       630.0|    [20.0,51391.0,0.0...|           [-1.2930290659681...|
+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------------+-------------+-------------------+--------------------------+------------------------------+------------+------------------------+-------------------------------+
only showing top 3 rows

In [14]:
categorical_features_lst = train.columns
categorical_features_lst.remove('person_age')
categorical_features_lst.remove('person_income')
categorical_features_lst.remove('loan_amnt')
categorical_features_lst.remove('loan_int_rate')
categorical_features_lst.remove('loan_percent_income')
categorical_features_lst.remove('person_emp_exp')
categorical_features_lst.remove('scaled_numerical_feature_vector')
categorical_features_lst.remove('numerical_feature_vector')
categorical_features_lst.remove('credit_score')


categorical_features_lst

['person_gender',
 'person_education',
 'person_home_ownership',
 'loan_intent',
 'cb_person_cred_hist_length',
 'previous_loan_defaults_on_file']

In [15]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler

for feature in categorical_features_lst:
    indexer = StringIndexer(inputCol=feature, outputCol=f"{feature}_index")
    indexer = indexer.fit(train)
    train = indexer.transform(train)
    test = indexer.transform(test)

one_hot_encoded_cols = []
for feature in categorical_features_lst:
    one_hot_encoder = OneHotEncoder(inputCol=f"{feature}_index", outputCol=f"{feature}_one_hot")
    one_hot_encoder = one_hot_encoder.fit(train)
    train = one_hot_encoder.transform(train)
    test = one_hot_encoder.transform(test)
    one_hot_encoded_cols.append(f"{feature}_one_hot")

assembler = VectorAssembler(inputCols=one_hot_encoded_cols, outputCol="categorical_features_vector")
train = assembler.transform(train)
test = assembler.transform(test)

train.show(3)

+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------------+-------------+-------------------+--------------------------+------------------------------+------------+------------------------+-------------------------------+-------------------+----------------------+---------------------------+-----------------+--------------------------------+------------------------------------+---------------------+------------------------+-----------------------------+-------------------+----------------------------------+--------------------------------------+---------------------------+
|person_age|person_gender|person_education|person_income|person_emp_exp|person_home_ownership|loan_amnt|      loan_intent|loan_int_rate|loan_percent_income|cb_person_cred_hist_length|previous_loan_defaults_on_file|credit_score|numerical_feature_vector|scaled_numerical_feature_vector|person_gender_index|person_education_index|person_home_ownership_index|loan_intent_index|cb_person_cred_hist_length_index|previous_loan_defaults_on_file_index|person_gender_one_hot|person_education_one_hot|person_home_ownership_one_hot|loan_intent_one_hot|cb_person_cred_hist_length_one_hot|previous_loan_defaults_on_file_one_hot|categorical_features_vector|
+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------------+-------------+-------------------+--------------------------+------------------------------+------------+------------------------+-------------------------------+-------------------+----------------------+---------------------------+-----------------+--------------------------------+------------------------------------+---------------------+------------------------+-----------------------------+-------------------+----------------------------------+--------------------------------------+---------------------------+
|      20.0|       female|       Associate|      42674.0|           0.0|                 RENT|   7000.0|          MEDICAL|        13.61|               0.16|                       2.0|                           Yes|       636.0|    [20.0,42674.0,0.0...|           [-1.2930290659681...|                1.0|                   2.0|                        0.0|              1.0|                             2.0|                                 0.0|            (1,[],[])|           (4,[2],[1.0])|                (3,[0],[1.0])|      (5,[1],[1.0])|                    (28,[2],[1.0])|                         (1,[0],[1.0])|       (42,[3,5,9,15,41]...|
|      20.0|       female|       Associate|     104214.0|           0.0|             MORTGAGE|  12000.0|DEBTCONSOLIDATION|         8.49|               0.12|                       2.0|                           Yes|       641.0|    [20.0,104214.0,0....|           [-1.2930290659681...|                1.0|                   2.0|                        1.0|              4.0|                             2.0|                                 0.0|            (1,[],[])|           (4,[2],[1.0])|                (3,[1],[1.0])|      (5,[4],[1.0])|                    (28,[2],[1.0])|                         (1,[0],[1.0])|       (42,[3,6,12,15,41...|
|      20.0|       female|     High School|      51391.0|           0.0|                 RENT|   6500.0|          VENTURE|        11.71|               0.13|                       2.0|                            No|       630.0|    [20.0,51391.0,0.0...|           [-1.2930290659681...|                1.0|                   1.0|                        0.0|              2.0|                             2.0|                                 1.0|            (1,[],[])|           (4,[1],[1.0])|                (3,[0],[1.0])|      (5,[2],[1.0])|                    (28,[2],[1.0])|                             (1,[],[])|       (42,[2,5,10,15],[...|
+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------------+-------------+-------------------+--------------------------+------------------------------+------------+------------------------+-------------------------------+-------------------+----------------------+---------------------------+-----------------+--------------------------------+------------------------------------+---------------------+------------------------+-----------------------------+-------------------+----------------------------------+--------------------------------------+---------------------------+
only showing top 3 rows

In [16]:
assembler = VectorAssembler(inputCols=['scaled_numerical_feature_vector',
                                       'categorical_features_vector'],
                            outputCol='final_feature_vector')

train = assembler.transform(train)
test = assembler.transform(test)

#PCA

#Regression

In [17]:
#linear regression
from pyspark.ml.regression import LinearRegression

lr = LinearRegression(featuresCol='scaled_numerical_feature_vector',
                      labelCol='credit_score')
lr = lr.fit(train)
lr

pred_train_df = lr.transform(train).withColumnRenamed('prediction',
                                                      'predicted_credit_score')
pred_train_df.show(5)

pred_test_df = lr.transform(test).withColumnRenamed('prediction', 'predicted_credit_score')

pred_test_df.show(5)

+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------------+-------------+-------------------+--------------------------+------------------------------+------------+------------------------+-------------------------------+-------------------+----------------------+---------------------------+-----------------+--------------------------------+------------------------------------+---------------------+------------------------+-----------------------------+-------------------+----------------------------------+--------------------------------------+---------------------------+--------------------+----------------------+
|person_age|person_gender|person_education|person_income|person_emp_exp|person_home_ownership|loan_amnt|      loan_intent|loan_int_rate|loan_percent_income|cb_person_cred_hist_length|previous_loan_defaults_on_file|credit_score|numerical_feature_vector|scaled_numerical_feature_vector|person_gender_index|person_education_index|person_home_ownership_index|loan_intent_index|cb_person_cred_hist_length_index|previous_loan_defaults_on_file_index|person_gender_one_hot|person_education_one_hot|person_home_ownership_one_hot|loan_intent_one_hot|cb_person_cred_hist_length_one_hot|previous_loan_defaults_on_file_one_hot|categorical_features_vector|final_feature_vector|predicted_credit_score|
+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------------+-------------+-------------------+--------------------------+------------------------------+------------+------------------------+-------------------------------+-------------------+----------------------+---------------------------+-----------------+--------------------------------+------------------------------------+---------------------+------------------------+-----------------------------+-------------------+----------------------------------+--------------------------------------+---------------------------+--------------------+----------------------+
|      20.0|       female|       Associate|      42674.0|           0.0|                 RENT|   7000.0|          MEDICAL|        13.61|               0.16|                       2.0|                           Yes|       636.0|    [20.0,42674.0,0.0...|           [-1.2930290659681...|                1.0|                   2.0|                        0.0|              1.0|                             2.0|                                 0.0|            (1,[],[])|           (4,[2],[1.0])|                (3,[0],[1.0])|      (5,[1],[1.0])|                    (28,[2],[1.0])|                         (1,[0],[1.0])|       (42,[3,5,9,15,41]...|(49,[0,1,2,3,4,5,...|     624.1443210126813|
|      20.0|       female|       Associate|     104214.0|           0.0|             MORTGAGE|  12000.0|DEBTCONSOLIDATION|         8.49|               0.12|                       2.0|                           Yes|       641.0|    [20.0,104214.0,0....|           [-1.2930290659681...|                1.0|                   2.0|                        1.0|              4.0|                             2.0|                                 0.0|            (1,[],[])|           (4,[2],[1.0])|                (3,[1],[1.0])|      (5,[4],[1.0])|                    (28,[2],[1.0])|                         (1,[0],[1.0])|       (42,[3,6,12,15,41...|(49,[0,1,2,3,4,5,...|     623.6709038648236|
|      20.0|       female|     High School|      51391.0|           0.0|                 RENT|   6500.0|          VENTURE|        11.71|               0.13|                       2.0|                            No|       630.0|    [20.0,51391.0,0.0...|           [-1.2930290659681...|                1.0|                   1.0|                        0.0|              2.0|                             2.0|                                 1.0|            (1,[],[])|           (4,[1],[1.0])|                (3,[0],[1.0])|      (5,[2],[1.0])|                    (28,[2],[1.0])|                             (1,[],[])|       (42,[2,5,10,15],[...|(49,[0,1,2,3,4,5,...|     624.0116720451133|
|      20.0|       female|          Master|      40239.0|           0.0|             MORTGAGE|   6000.0|         PERSONAL|        14.61|               0.15|                       4.0|                            No|       501.0|    [20.0,40239.0,0.0...|           [-1.2930290659681...|                1.0|                   3.0|                        1.0|              3.0|                             0.0|                                 1.0|            (1,[],[])|           (4,[3],[1.0])|                (3,[1],[1.0])|      (5,[3],[1.0])|                    (28,[0],[1.0])|                             (1,[],[])|       (42,[4,6,11,13],[...|(49,[0,1,2,3,4,5,...|     624.3448580116248|
|      20.0|       female|          Master|     118478.0|           0.0|             MORTGAGE|  24250.0|        EDUCATION|        11.01|                0.2|                       4.0|                            No|       594.0|    [20.0,118478.0,0....|           [-1.2930290659681...|                1.0|                   3.0|                        1.0|              0.0|                             0.0|                                 1.0|            (1,[],[])|           (4,[3],[1.0])|                (3,[1],[1.0])|      (5,[0],[1.0])|                    (28,[0],[1.0])|                             (1,[],[])|       (42,[4,6,8,13],[1...|(49,[0,1,2,3,4,5,...|     624.0074710846346|
+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------------+-------------+-------------------+--------------------------+------------------------------+------------+------------------------+-------------------------------+-------------------+----------------------+---------------------------+-----------------+--------------------------------+------------------------------------+---------------------+------------------------+-----------------------------+-------------------+----------------------------------+--------------------------------------+---------------------------+--------------------+----------------------+
only showing top 5 rows

+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------+-------------+-------------------+--------------------------+------------------------------+------------+------------------------+-------------------------------+-------------------+----------------------+---------------------------+-----------------+--------------------------------+------------------------------------+---------------------+------------------------+-----------------------------+-------------------+----------------------------------+--------------------------------------+---------------------------+--------------------+----------------------+
|person_age|person_gender|person_education|person_income|person_emp_exp|person_home_ownership|loan_amnt|loan_intent|loan_int_rate|loan_percent_income|cb_person_cred_hist_length|previous_loan_defaults_on_file|credit_score|numerical_feature_vector|scaled_numerical_feature_vector|person_gender_index|person_education_index|person_home_ownership_index|loan_intent_index|cb_person_cred_hist_length_index|previous_loan_defaults_on_file_index|person_gender_one_hot|person_education_one_hot|person_home_ownership_one_hot|loan_intent_one_hot|cb_person_cred_hist_length_one_hot|previous_loan_defaults_on_file_one_hot|categorical_features_vector|final_feature_vector|predicted_credit_score|
+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------+-------------+-------------------+--------------------------+------------------------------+------------+------------------------+-------------------------------+-------------------+----------------------+---------------------------+-----------------+--------------------------------+------------------------------------+---------------------+------------------------+-----------------------------+-------------------+----------------------------------+--------------------------------------+---------------------------+--------------------+----------------------+
|      20.0|       female|     High School|     162939.0|           0.0|             MORTGAGE|  15000.0|    VENTURE|        15.96|               0.09|                       2.0|                           Yes|       640.0|    [20.0,162939.0,0....|           [-1.2930290659681...|                1.0|                   1.0|                        1.0|              2.0|                             2.0|                                 0.0|            (1,[],[])|           (4,[1],[1.0])|                (3,[1],[1.0])|      (5,[2],[1.0])|                    (28,[2],[1.0])|                         (1,[0],[1.0])|       (42,[2,6,10,15,41...|(49,[0,1,2,3,4,5,...|     625.0947047548378|
|      20.0|       female|     High School|     226402.0|           0.0|             MORTGAGE|   2000.0|    VENTURE|         8.59|               0.01|                       4.0|                           Yes|       531.0|    [20.0,226402.0,0....|           [-1.2930290659681...|                1.0|                   1.0|                        1.0|              2.0|                             0.0|                                 0.0|            (1,[],[])|           (4,[1],[1.0])|                (3,[1],[1.0])|      (5,[2],[1.0])|                    (28,[0],[1.0])|                         (1,[0],[1.0])|       (42,[2,6,10,13,41...|(49,[0,1,2,3,4,5,...|     623.7314990230202|
|      20.0|       female|     High School|     226710.0|           0.0|                  OWN|   2000.0|    VENTURE|         8.59|               0.01|                       4.0|                           Yes|       619.0|    [20.0,226710.0,0....|           [-1.2930290659681...|                1.0|                   1.0|                        2.0|              2.0|                             0.0|                                 0.0|            (1,[],[])|           (4,[1],[1.0])|                (3,[2],[1.0])|      (5,[2],[1.0])|                    (28,[0],[1.0])|                         (1,[0],[1.0])|       (42,[2,7,10,13,41...|(49,[0,1,2,3,4,5,...|     623.7306874922591|
|      20.0|         male|        Bachelor|      93288.0|           0.0|             MORTGAGE|   6000.0|    VENTURE|          8.0|               0.06|                       2.0|                           Yes|       699.0|    [20.0,93288.0,0.0...|           [-1.2930290659681...|                0.0|                   0.0|                        1.0|              2.0|                             2.0|                                 0.0|        (1,[0],[1.0])|           (4,[0],[1.0])|                (3,[1],[1.0])|      (5,[2],[1.0])|                    (28,[2],[1.0])|                         (1,[0],[1.0])|       (42,[0,1,6,10,15,...|(49,[0,1,2,3,4,5,...|     623.7936754227798|
|      20.0|         male|     High School|      93599.0|           0.0|             MORTGAGE|  24250.0|  EDUCATION|        11.36|               0.26|                       2.0|                           Yes|       629.0|    [20.0,93599.0,0.0...|           [-1.2930290659681...|                0.0|                   1.0|                        1.0|              0.0|                             2.0|                                 0.0|        (1,[0],[1.0])|           (4,[1],[1.0])|                (3,[1],[1.0])|      (5,[0],[1.0])|                    (28,[2],[1.0])|                         (1,[0],[1.0])|       (42,[0,2,6,8,15,4...|(49,[0,1,2,3,4,5,...|     623.6819855278773|
+----------+-------------+----------------+-------------+--------------+---------------------+---------+-----------+-------------+-------------------+--------------------------+------------------------------+------------+------------------------+-------------------------------+-------------------+----------------------+---------------------------+-----------------+--------------------------------+------------------------------------+---------------------+------------------------+-----------------------------+-------------------+----------------------------------+--------------------------------------+---------------------------+--------------------+----------------------+
only showing top 5 rows

In [19]:
#linear regression metrics
predictions_and_actuals = pred_test_df[['predicted_credit_score',
                                        'credit_score']]

predictions_and_actuals_rdd = predictions_and_actuals.rdd
predictions_and_actuals_rdd = predictions_and_actuals_rdd.map(tuple)


from pyspark.mllib.evaluation import RegressionMetrics

metrics = RegressionMetrics(predictions_and_actuals_rdd)

s = '''
Root Mean Squared Error: {0}
Mean Absolute Error:     {1}
'''.format(metrics.rootMeanSquaredError,
           metrics.meanAbsoluteError,
           )

print(s)

/usr/local/lib/python3.10/dist-packages/pyspark/sql/context.py:158: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

Root Mean Squared Error: 49.383455272933666
Mean Absolute Error:     39.591785021511505

#Classification

Classification before PCA

Classification after PCA

#Clustering